.wrapper
  = render 'shared/header'
  = render 'shared/menu'
  = render 'shared/form'

  .all-propositions-lists
    .all-propositions-lists__title
      %h3 案件一覧
    .all-propositions-lists__container
      %ul.all-propositions-lists__container__title
        %li.all-propositions-lists__container__title--name
          %p 案件名
        %li.all-propositions-lists__container__title--pre
          %p 事前情報
        %li.all-propositions-lists__container__title--consideration
          %p 社内検討
        %li.all-propositions-lists_container__title--approach
          %p アプローチ
        %li.all-propositions-lists__container__title--estimate
          %p 見積り提出
        %li.all-propositions-lists__container__title--pre-acceptance
          %p 受注内定
        %li.all-propositions-lists__container__title--acceptance
          %p 受注決定
        %li.all-propositions-lists__container__title--after-acceptance
          %p 受注決定後


      - @propositions.each do |proposition|
        %ul.all-propositions-lists__container__content
          %li.all-propositions-lists__container__content__name
            = proposition.name

          %li.all-propositions-lists__container__content__pre
            %p 入力日時:
            %p 内容:

          %li.all-propositions-lists__container__content__consideration
            %p 入力日時:
            %p 内容:

          %li.all-propositions-lists__container__content__approach
            %p 入力日時:
            %p 内容:

          %li.all-propositions-lists__container__content__estimate
            %p 入力日時
            %p 内容:

          %li.all-propositions-lists__container__content__pre-acceptance
            %p 入力日時:
            %p 内容:

          %li.all-propositions-lists__container__content__acceptance
            %p 入力日時:
            %p 内容:

          %li.all-propositions-lists__container__content__after-acceptance
            %p 入力日時:
            %p 内容:
