.wrapper
  = render 'shared/header'

  = render 'shared/menu'

  = render 'shared/form'

  .main-content
    .users
      %p.users--all-lists フォロワー一覧
      %ul.users__list
        - @users.each do |user|
          -if current_user.following?(user)
            %li.users__list__container
              .users__list__user
                = user.name