.wrapper
  = render 'shared/header'

  = render 'shared/menu'

  = render 'shared/form'

  .main-content
    .users
      %p.users--all-lists 社員一覧
      = render 'shared/follow', {user: @user, users: @users}
