= form_with url: '#', class: "pc-header__box__top--search-box" do |form|
  = form.text_field :search, placeholder: "検索", class: 'search-box input-default'
  = form.button type: 'submit', class: 'search-btn' do
    %i.fa.fa-search
