.myprojects-list
  .myprojects-list__label
    %strong あなたの案件一覧

  .myprojects-list__content
    .myprojects-list__content--title
      %p 案件名
    %ul
      %li
      - if @propositions.present?
        - @propositions.each do |proposition|
          %ol
          = link_to proposition_path(proposition), method: :get do
            = proposition.name
