.timelines
  .timelines__groupmember
    .timelines__groupmember--title
      %h3 グループメンバーの案件

    .timelines__groupmember--content
      .userface-icon
      %ul.timeline-container
        %li.timeline-container__date
          %p 日時：2019/04/25 19:00
        %li.timeline-container__project-name
          %p 案件名：◯◯の件
        %li.timeline-container__phase
          %p フェーズ：見積り提出
        %li.timeline-container__content
          %p あああああああああああああああああああ
        %li.timeline-detail
          =link_to "詳細を見る", root_path

  .timelines__followers
    .timelines__followers--title
      %h3 フォロワーの案件

    .timelines__followers--content
      .userface-icon
      %ul.timeline-container
        %li.timeline-container__date
          %p 日時：2019/04/25 19:00
        %li.timeline-container__project-name
          %p 案件名：◯◯の件
        %li.timeline-container__phase
          %p フェーズ：見積り提出
        %li.timeline-container__content
          %p あああああああああああああああああああ
        %li.timeline-detail
          =link_to "詳細を見る", root_path