.myprojects-list{
  width: 200px;
  border-radius: 8px;
  padding-top: 20px;
  margin-left: 30px;
  &__label{
    width: 180px;
    height: 30px;
    background-color: #20B2AA;
    margin: 0 auto;
    border-radius: 10px;
    border: thin solid #EEEEEE;
    p{
      color: white;
      line-height: 30px;
      text-align: center;
    }
  }
  &__content{
    width: 90%;
    height: 100%;
    border-radius: 10px;
    background-color: #E0FFFF;
    margin: 0 auto;
    border: thin solid #EEEEEE;
    &--title{
      font-weight: bold;
      justify-content: space-between;
      padding: 10px 10px;
      border-bottom: thin solid #DDDDDD;
      text-align: center;
      p{
        size: 20px;
      }
    }
    ul{
      margin-top: 10px;
      text-align: center;
      a:hover{
        color: #0000FF;
        border-bottom: 1px solid #0000FF;
        font-weight: bold;
      }
      li{
        justify-content: space-between;
        ol{
          margin: 30px;
          padding-bottom: 20px;
          text-decoration: underline;
        }
      }
    }
  }
}