.delete-success{
  width: 600px;
  background-color: #EEEEEE;
  margin: 30px auto;
  h2{
    font-size: 22px;
    text-align: center;
    margin: 20px;
  }
  a{
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
    display:block;
  }
}
